In [1]:
#install.packages('dplyr')
#install.packages('janitor')
#install.packages("pryr")
#install.packages("tidyr")
library(pryr)

Registered S3 method overwritten by 'pryr':
  method      from
  print.bytes Rcpp

In [2]:
mem_b <- mem_used()
ptm <- proc.time()

In [3]:
library(dplyr)
library(foreign)
library(janitor)
library(tidyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union



Attaching package: 'janitor'


The following objects are masked from 'package:stats':

    chisq.test, fisher.test

In [4]:
df <- read.dta("http://www.stata-press.com/data/r11/auto.dta") %>% drop_na()

In [5]:
df1 <- group_by(df, rep78)

# Table 1

In [6]:
count(df, rep78)

  rep78 n
1 1      2
2 2      8
3 3     30
4 4     18
5 5     11

# Table 2

In [7]:
summarise(df1, 
          "N(mpg)"=length(mpg),
          "mean(mpg)"=round(mean(mpg), 5),
          "med(mpg)"=median(mpg),
          "max(price)"=max(price),
          "min(length)"=min(length),
          )

  rep78 N(mpg) mean(mpg) med(mpg) max(price) min(length)
1 1      2     21.00000  21.0      4934      180
2 2      8     19.12500  18.0     14500      179
3 3     30     19.43333  19.0     15906      142
4 4     18     21.66667  22.5      9735      147
5 5     11     27.36364  30.0     11995      155

# Table 3

In [8]:
df1 %>%
  summarise(
            "Domestic"=length(foreign[foreign=="Domestic"]),
            "Foreign"=length(foreign[foreign=="Foreign"]),
            "Total"=length(foreign),
  ) %>%
  adorn_totals("row")

  rep78 Domestic Foreign Total
1 1      2        0       2
2 2      8        0       8
3 3     27        3      30
4 4      9        9      18
5 5      2        9      11
6 Total 48       21      69

# Table 4

In [9]:
df1 %>%
  summarise(
            "Domestic"=mean(mpg[foreign=="Domestic"]),
            "Foreign"=mean(mpg[foreign=="Foreign"]),
            "Total"=mean(mpg),
  )

  rep78 Domestic Foreign  Total
1 1     21.00000      NaN 21.00000
2 2     19.12500      NaN 19.12500
3 3     19.00000 23.33333 19.43333
4 4     18.44444 24.88889 21.66667
5 5     32.00000 26.33333 27.36364

In [10]:
print("Memory used")
mem_used() - mem_b
print("Time elapsed")
proc.time() - ptm

[1] "Memory used"

13.1 MB

[1] "Time elapsed"

   user  system elapsed
   0.61    0.17    2.37

In [11]:
object_size(df1)

17.5 kB