# Exercise 2

Approach
- Get all column names -> get all the years
- Iterate through the row to append to series with the given yr

In [1]:
import pandas as pd
df2 = pd.read_stata('http://www.stata-press.com/data/r11/reshape1.dta')
df2

    id  sex   inc80   inc81   inc82  ue80  ue81  ue82
0  1.0  0.0  5000.0  5500.0  6000.0   0.0   1.0   0.0
1  2.0  1.0  2000.0  2200.0  3300.0   1.0   0.0   0.0
2  3.0  0.0  3000.0  2000.0  1000.0   0.0   0.0   1.0

In [2]:
# Get all the years
years = []
for col in df2.columns:
    if "inc" in col:
        yr = col.replace("inc", "")
        years.append(yr)
years

['80', '81', '82']

In [3]:
# Create a new dataframe according to the required table
d = {}
d['id'] = []
d['year'] = []
d['sex'] = []
d['inc'] = []
d['ue'] = []

for index, row in df2.iterrows():
    id = row['id']
    sex = row['sex']
    for yr in years:
        inc = row["inc{}".format(yr)]
        ue = row["ue{}".format(yr)]
        d['id'].append(id)
        d['year'].append(yr)
        d['sex'].append(sex)
        d['inc'].append(inc)
        d['ue'].append(ue)

In [4]:
new = pd.DataFrame(d)

In [5]:
new

    id year  sex     inc   ue
0  1.0   80  0.0  5000.0  0.0
1  1.0   81  0.0  5500.0  1.0
2  1.0   82  0.0  6000.0  0.0
3  2.0   80  1.0  2000.0  1.0
4  2.0   81  1.0  2200.0  0.0
5  2.0   82  1.0  3300.0  0.0
6  3.0   80  0.0  3000.0  0.0
7  3.0   81  0.0  2000.0  0.0
8  3.0   82  0.0  1000.0  1.0