In [3]:
install.packages('data.table')
install.packages('splitstackshape')

Installing package into 'C:/Users/eimiv/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'data.table' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\eimiv\AppData\Local\Temp\Rtmpaw7LFc\downloaded_packages

Installing package into 'C:/Users/eimiv/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'splitstackshape' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\eimiv\AppData\Local\Temp\Rtmpaw7LFc\downloaded_packages

In [4]:
library(data.table)
library(splitstackshape)
library(foreign)

In [8]:
df <- read.dta("http://www.stata-press.com/data/r11/reshape1.dta")
df1 <- data.frame(df)
setDT(df1)

In [9]:
colnames(df1) = sub("inc", "inc.", colnames(df1))
colnames(df1) = sub("ue", "ue.", colnames(df1))

df2 = merged.stack(df1, var.stubs=c("inc", "ue"), sep = ".")

colnames(df2)[which(names(df2) == ".time_1")] <- "year"

In [10]:
df2

  id sex year inc  ue
1 1  0   80   5000 0
2 1  0   81   5500 1
3 1  0   82   6000 0
4 2  1   80   2000 1
5 2  1   81   2200 0
6 2  1   82   3300 0
7 3  0   80   3000 0
8 3  0   81   2000 0
9 3  0   82   1000 1